# Datos y archivos pesados
data/
*.csv
*.parquet
*.zip

# Entornos virtuales y configuración IDE
.env
.venv/
venv/
env/
.vscode/

# Ignorar llaves/credenciales JSON de Google Cloud
*key*.json
*credentials*.json
*gcp*.json
*service_account*.json

# Python y Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Ignorar todos los archivos
*.png
*.jpg
*.jpeg
*.gif
assets/*
#Excepciones:
!assets/escudo_centro.jpg
!assets/logo.jpg
!assets/dashboard.png